body{
  margin:0;
/*overflow: hidden;*/
  background:black;
}
canvas{
  position: absolute;
  top: 0;
  left: 0;
}
#downloadButton{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height:100%;
}
.cr.function{
  position: relative;
}
/*
#container {
  position: relative;
}
#container canvas, #overlay {
  position: absolute;
}
canvas {
  border: 1px solid black;
}*/